#root .sudoku-app {
  width: 100%;
}

.sudoku-board {
  width: 80%;
  height: 70%;
  margin: 5% auto;
  max-width: 30em;
}

.sudoku-row {
  margin: auto auto;
  width: 30em;
}

.sudoku-cell {
  display: inline-block;
  width: 3.25em;
}

.sudoku-cell input {
  width: 2em;
  height: 2em;
  margin: 0 0;
  font-size: 1.5em;
  text-align: center;
  display: inline-block;
}

.borderRight {
  border-right: 0.2em solid #444;
}

.borderBottom {
  border-bottom: 0.2em solid #444;
}
